<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- element css cdn, if you use custom theme, remove it. -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css"
    /> -->
  </head>
  <body>
    <noscript>
        <strong>非常抱歉, <%= title %> 无法在禁止脚本运行的情况下使用. 请允许运行并刷新页面.</strong>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
